@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Bold'), url('MYRIADPRO-BOLD.woff') format('woff');
  }
  @font-face {
    font-family: 'Myriad Pro Light';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Light'), url('MyriadPro-Light.woff') format('woff');
    }

:root{
  --bg1: #1f2937; /*dark background hero/footer*/
  --colortext: #f9faf8; /*hero main text*/
  --colortext2: #e5e7eb; /*hero/header secondary text*/
  --colortext3: #3882f6; /*button*/
  --fontsize1: 48px; /* Hero Main text */
  --fontsize2: 18px;  /*Hero secondary text*/
  --fontsize3: 24px;  /*Header logo text*/
  --fontsize4: 36px;  /*information header/quote text*/
}
*{
  font-family: 'Myriad Pro Bold';
}
body{
  margin: 0;
  height: 100vh;
  padding: 0;
}
ul, li{
  list-style-type: none;
  display: flex;
  gap: 15px;
  font-size: var(--fontsize2);
  color: var(--colortext2);
  font-family: 'Myriad Pro Light';
}
.container{
  display: flex;
  flex: 1;
  flex-direction: column;
}
.upper-area{
  display: flex;
  background-color: var(--bg1);
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--colortext);
  
}
.logo-text{
  font-size: var(--fontsize3);
  font-weight: 700;
}
.content{
  display: flex;
  gap: 35px;
  color: var(--colortext);
  align-items: center;
  margin-bottom: 60px;
}
.leftpart{
  display: flex;
  flex-direction: column;
  max-width: 460px;
  
}
.welcome {
  font-size: var(--fontsize1);
  font-weight:bolder;
  display: flex;
  margin-block-end: 0;
  line-height: 1em;
}
.right{
  margin-block-start: 48px;
}
.normal-txt{
  color: var(--colortext2);
  margin-block-start: 12px;
  font-family: 'Myriad Pro Light';
}
.placeholder{
  background-color: #6d747d;
  width: 520px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9faf8;
  font-family: 'Myriad Pro Light';
}
.content-box{
  margin-right: auto;
  margin-left: auto;
  flex-shrink: 0;
}
button{
  background-color: var(--colortext3);
  border: none;
  font-size: var(--fontsize);
  width: 120px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  color: var(--colortext);
  font-weight: bold;
}
.info-area{
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}
.info-title{
  color: var(--bg1);
  font-size: var(--fontsize4);
  font-weight:900;
  display: flex;
  justify-content: center;
}
.img-row{
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 60px;
}
img[class^="$img"]{
  border: 5px solid var(--colortext3);
  border-radius: 15px;
  background-color: white;
  flex-shrink: 0;
  display: flex;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.496);
}
figure{
  margin-right: auto;
  margin-left: auto;
}
figcaption {
  font-style: italic;
  padding: 2px;
  max-width: 200px;
  font-family: 'Myriad Pro Light';
  font-style: normal;
}
.quote-area{
  display: flex;
  background-color: var(--colortext2);
  justify-content: center;
  flex-direction: column;
  flex: 1;
}
.msg{
  display: flex;
  justify-content: center;
  width: 820px;
  margin-right: auto;
  margin-left: auto;
  flex-shrink: 0;
}
.msg p{
  font-family: 'Myriad Pro Light';
  font-style: italic;
  font-size: var(--fontsize4);
  display: flex;
  margin-block-end: 0;
}
.quoteby{
  display: flex;
  justify-content:center;
  font-size: var(--fontsize3);
  margin-block-start: 0;
  flex: 1;
}
.bottom-area{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}
.call-to-area{
  display: flex;
  background-color: var(--colortext3);
  align-items: center;
  justify-content: center;
  gap: 90px;
  border-radius: 9px;
  padding: 20px 130px;
}
.left-side{
  /* align-items: center; */
}
.right-side{

}
.signup{
  border: 2px solid white;
  display: flex;
  padding: 10px;
  width: 130px;
  align-items: center;
  justify-content: center;
  font-size: var(--fontsize2);
}

.title{
  font-size: var(--fontsize3);
  color: var(--colortext);
  margin-block-end: 0;
  /* margin-block-start: 0; */
}
.message{
  color: var(--colortext);
  margin-block-start: 0.4em;
  font-family: 'MyriadPro-Light';
  font-size: var(--fontsize2) ;
}
.footer{
  background-color: var(--bg1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colortext);
  font-size: var(--fontsize2);
  padding: 20px 0px;
}
 a,a:visited{
  text-decoration: none;
  color: var(--colortext);
}
button:hover{
  cursor: pointer;
}

@media (max-width: 1032px){
  .placeholder{
    display: none;
  }
}
@media (max-width: 822px){
  .img-row{
    flex-direction: column;
  }
  .msg , .quoteby{
  max-width: fit-content;
  max-width: -moz-fit-content;

 }
}
@media (max-width: 550px){
  body{
    width: max-content;
  }
  .call-to-area{
    gap: 20px;
    max-height: 200px;
    flex-direction: column;
  }
  .info-title{
    justify-content: center;
  }
}
img{
  border: none;
}